## 第5章　Pythonを使った人工知能の前処理を学ぶ

### 5.1　はじめに

### 5.2　デーブルデータにおける欠損値の取り扱い

5.2.2

In [7]:
import pandas as pd
# カンマ区切りでcsvファイルを読み込み、性別を0,1に置き換える
df=pd.read_csv('C:\\Users\\baseb\\戸倉勉強会\\titanic\\train.csv',sep=',').replace("male",0).replace("female",1)

print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
..                                                 ...  ...   ...    ...
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1   NaN      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Memo  
データの欠損  
 ①MCAR(missing completely at random):完全にランダムな原因  
 ②MAR(missing at random):観測データに依存する  
 ③MNAR(missing not at random):欠損値の発生が欠損値そのものに依存する   
対策  
 ①欠損値を含むサンプルを全て除外して行う完全ケース分析→MARやMNARを多く含むと解析結果に大きな歪が生じる  
 ②欠損値を補完して行う手法→対策①の問題を解決するために用いられる  
   ・平均値代入法  
   ・回帰代入法  
   　→近年では多重代入法

5.2.3

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Memo  
・dropna()：データ欠損のある行または列を削除する(リストワイズ削除)  
・fillna()：データ欠損のある要素を補完する

5.2.4

In [5]:
df=df.dropna()
df.isnull().sum() #削除した結果を確認

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

5.2.5

In [6]:
print(df['Age'])

1      38.0
3      35.0
6      54.0
10      4.0
11     58.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: Age, Length: 183, dtype: float64

Memo  
【重要】リストワイズ削除を行う場合はデータ数の減少に特に注意すべきである

5.2.6

In [8]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

5.2.7

In [10]:
print(df['Age']) #Ageの列だけ表示

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64